In [1]:
import pandas as pd

In [16]:
df=pd.read_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/2019/feb19_cleaned.xlsx')

In [17]:
df.head()

                                            Headline  my_label
0  Fifty two harassed domestic workers in Kuwait ...       1.0
1              7 must-have Sri Lankan festive sweets       NaN
2      What causes low economic growth in Sri Lanka?       2.0
3  Upali Marasinghe – new Chairman of Sri Lanka T...       NaN
4         Sri Lanka to recruit a foreign executioner       2.0

In [18]:
df.my_label = df.my_label.replace(2,-1)

In [20]:
df.my_label = df.my_label.fillna(0)

In [21]:
df.to_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/2019/feb19_with_correct_labels.xlsx')