In [1]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

/anaconda3/lib/python3.7/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [2]:
sia = SIA()
results = []

In [3]:
df = pd.read_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/To analyze/Labelled data .xlsx')

In [4]:
df.head()

                                            Headline  my_label
0  Thai Lion Air makes it’s maiden voyage to Sri ...         0
1  Report on Sri Lankan reforms submitted to Pres...         0
2  Allowing Youth to Tuk-Tuk or not Tuk-Tuk: Shou...         0
3                   The Spicy Goodness of Sri Lanka!         0
4  Sri lanka halfway between a flawed democracy a...        -1

In [5]:
h = set(df['Headline'])

In [6]:
for line in h:
    pol_score = sia.polarity_scores(line)
    pol_score['headline'] = line
    results.append(pol_score)

In [7]:
df = pd.DataFrame.from_records(results)
df.head()

,compound,headline,neg,neu,pos
0,0.0000,Seylan Bank clinches Mercantile Basketball title,0.0,1.000,0.000
1,0.0000,Munchee steers One Book campaign to enrich liv...,0.0,1.000,0.000
2,0.0000,Several FR petitions filed against dissolution...,0.0,1.000,0.000
3,0.0000,"Kenyans, Sri Lankans to participate in Manipal...",0.0,1.000,0.000
4,0.5423,CMA Speech Craft Batch excels in fast track co...,0.0,0.696,0.304

In [11]:
df[110:120]

,compound,headline,neg,neu,pos
110,-0.3612,Fitch rates Sampath Bank’s Basel III Sub Debt ...,0.238,0.762,0.000
111,0.4215,SLIM experience sharing forum with Kasthuri Wi...,0.000,0.682,0.318
112,0.0000,Mishara century puts Lanka ahead,0.000,1.000,0.000
113,0.4404,"ACCA, KPMG HOLD DISCUSSIONS ON GOOD GOVERNANCE...",0.000,0.734,0.266
114,0.0000,Lanka companies to participate in Texworld in USA,0.000,1.000,0.000
115,0.3182,RATNAYAKE – competent ‘nayaka’ of NSC,0.000,0.635,0.365
116,0.3818,‘Easy Vacation’ for ComBank Credit Cardholders,0.000,0.658,0.342
117,0.3818,UK Worldwide Motorhoming Holidays explore Sri ...,0.000,0.698,0.302
118,0.5423,HOTELIVATE confers Binod Chaudhary with Lifeti...,0.000,0.667,0.333
119,0.0772,President demonstrated political will amid cha...,0.000,0.822,0.178

In [11]:
df['label'] = 0
df.loc[df['compound'] > 0.2, 'label'] = 1
df.loc[df['compound'] < -0.2, 'label'] = -1
df.head()

,compound,headline,neg,neu,pos,label
0,0.0000,President returns to Sri Lanka,0.000,1.000,0.0,0
1,0.0000,Edex Expo second phase opens at Kandy City Centre,0.000,1.000,0.0,0
2,-0.5719,ERADICATE POLITICALLY INFLICTED EVILS,0.552,0.448,0.0,-1
3,0.0000,"Plantation workers get wage hike, arrears",0.000,1.000,0.0,0
4,0.0000,Rallying against Sena!,0.000,1.000,0.0,0

In [12]:
df2 = df[['headline', 'label']]
df2.to_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/nov19_sent.xlsx',  index=False)

### Vader

In [2]:
import nltk
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

/anaconda3/lib/python3.7/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

##### Extracting Day from Date

In [34]:
df = pd.read_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/2018/jan18_cleaned.xlsx')

In [20]:
df['Date_r']=pd.to_datetime(df['Date'],errors = 'ignore').apply(lambda x:x.date())

In [26]:
df.Date_r=df.Date_r.astype(str)

In [28]:
a = df['Date_r'].str.split('-',n = 3, expand = True)

In [30]:
a.head()

      0   1   2
0  2018  01  29
1  2018  01  24
2  2018  01  22
3  2018  01  22
4  2018  01  20

In [31]:
df['Day'] =a[2]

In [33]:
df.to_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/2018/jan18_cleaned.xlsx')

### Vader sentiment analysis for one sentence

In [24]:
sid.polarity_scores("7206kg of ganja seized in Tamil Nadu")

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [3]:
sid = SentimentIntensityAnalyzer()

In [36]:
df = pd.read_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/2018/jan18_cleaned.xlsx')

In [37]:
df['score'] = df['Headline'].apply(lambda headline:sid.polarity_scores(headline))

In [38]:
df['compound'] = df['score'].apply(lambda d:d['compound'])

In [39]:
df['comp_score'] = df['compound'].apply(lambda score: 1 if score >= 0 else 0)

In [40]:
df.head()

,Unnamed: 0,Headline,Year,Month,Day,Date_r,score,compound,comp_score
0,0,Will Sri Lanka lose ‘Muthupanthiya’ Island?,2018,1,29,2018-01-29,"{'neg': 0.351, 'neu': 0.649, 'pos': 0.0, 'comp...",-0.4019,0
1,1,Sri Lankan politicians – have they started to ...,2018,1,24,2018-01-24,"{'neg': 0.242, 'neu': 0.758, 'pos': 0.0, 'comp...",-0.4939,0
2,2,Singapore PM in Sri Lanka: SL-Singapore Free T...,2018,1,22,2018-01-22,"{'neg': 0.0, 'neu': 0.629, 'pos': 0.371, 'comp...",0.7579,1
3,3,Singapore PM commences Sri Lanka tour – change...,2018,1,22,2018-01-22,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,1
4,4,US-based ERAU launches dual enrollment program...,2018,1,20,2018-01-20,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,1

In [41]:
df.to_excel('/Users/Suwani/Desktop/Moodys Project/Sentiment analysis/Vader/2018/jan18_sent_vader.xlsx')

### TextBlob

In [42]:
from textblob import TextBlob
import pandas as pd

In [94]:
wiki = TextBlob("Huawei introduce wireless reverse charge, ultimate dual biometric security in SL")

In [95]:
wiki.sentiment

Sentiment(polarity=0.0, subjectivity=1.0)

### Replacing null values

In [43]:
df = pd.read_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/2019/jan19_cleaned.xlsx')

In [44]:
df = df.fillna(0)

In [47]:
df.to_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/2019/jan19_cleaned.xlsx')