## Text files

In [1]:
person = 'Jose'

In [2]:
print('my name is {}'.format(person))

my name is Jose

In [3]:
print(f'my name is {person}')

my name is Jose

In [4]:
print('my name is '+ person)

my name is Jose

In [5]:
d = {'a':123,'b':234}

In [10]:
mylist = [0,1,2]

In [9]:
print(f"my number is {d['a']}")

my number is 123

In [11]:
print(f"my number is {mylist[0]}")

my number is 0

In [12]:
library = [('Author','Topic','Pages'),('Twain','Rafting',601),('Feyman','Physics',95),('Hamilton','Methodology',144)]

In [13]:
library

[('Author', 'Topic', 'Pages'),
 ('Twain', 'Rafting', 601),
 ('Feyman', 'Physics', 95),
 ('Hamilton', 'Methodology', 144)]

In [14]:
for book in library:
    print(book)

('Author', 'Topic', 'Pages')
('Twain', 'Rafting', 601)
('Feyman', 'Physics', 95)
('Hamilton', 'Methodology', 144)

In [15]:
for book in library:
    print(f"Author is {book[0]}")

Author is Author
Author is Twain
Author is Feyman
Author is Hamilton

In [18]:
for author,topic,pages in library:
    print(f"{author} {topic} {pages}")

Author Topic Pages
Twain Rafting 601
Feyman Physics 95
Hamilton Methodology 144

In [20]:
for author, topic , pages in library:
    print(f"{author:{10}} {topic:{10}} {pages:{20}}")

Author     Topic      Pages
Twain      Rafting                     601
Feyman     Physics                      95
Hamilton   Methodology                  144

In [21]:
%%writefile test.txt
Hello, this is a quick text file.
This is the second line of the file.

Writing test.txt

In [22]:
myfile = open('test.txt')

In [23]:
myfile.read()

'Hello, this is a quick text file.\nThis is the second line of the file.\n'

In [24]:
myfile.read()

''

In [25]:
myfile.seek(0)

0

In [26]:
content = myfile.read()

In [27]:
content

'Hello, this is a quick text file.\nThis is the second line of the file.\n'

In [28]:
print(content)

Hello, this is a quick text file.
This is the second line of the file.

In [29]:
myfile.close()

In [30]:
content

'Hello, this is a quick text file.\nThis is the second line of the file.\n'

In [31]:
myfile = open('test.txt')

In [32]:
mylines = myfile.readlines()

In [33]:
mylines

['Hello, this is a quick text file.\n',
 'This is the second line of the file.\n']

In [34]:
mylines[0]

'Hello, this is a quick text file.\n'

In [39]:
for line in mylines:
    print(line.split())

['Hello,', 'this', 'is', 'a', 'quick', 'text', 'file.']
['This', 'is', 'the', 'second', 'line', 'of', 'the', 'file.']

In [40]:
for line in mylines:
    print(line.split()[0])

Hello,
This

In [41]:
myfile.close()

In [43]:
myfile = open('text.txt','w+')

In [44]:
myfile.read()

''

In [45]:
myfile.write('This is a new line')

18

In [47]:
myfile.seek(0)

0

In [48]:
myfile.read()

'This is a new line'

In [49]:
myfile.close()

In [57]:
myfile = open('text.txt','a+')

In [58]:
myfile.write('\nMy first line in a+ opening')

28

In [59]:
myfile.close()

In [60]:
newfile = open('text.txt')

In [61]:
newfile.read()

'This is a new lineMy first line in a+ opening\nMy first line in a+ opening'

In [66]:
newfile.seek(0)

0

In [67]:
print(newfile.read())

This is a new lineMy first line in a+ opening
My first line in a+ opening

In [68]:
myfile.close()

In [69]:
with open('text.txt','r') as mynewfile:
    myvariable = mynewfile.readlines()

In [70]:
myvariable

['This is a new lineMy first line in a+ opening\n',
 'My first line in a+ opening']

In [72]:
print(myvariable[0])

This is a new lineMy first line in a+ opening

### Regular expression

In [94]:
text = 'The phone number of the agent is 408-555-1234. Call soon!'

In [3]:
import re

In [75]:
pattern = 'phone'

In [76]:
re.search(pattern,text)

In [77]:
my_match = re.search(pattern,text)

In [78]:
my_match

In [79]:
my_match.start()

4

In [80]:
my_match.end()

9

In [81]:
text = 'My phone is new phone'

In [82]:
mm = re.search(pattern,text)

In [83]:
mm

In [90]:
all_matches = re.findall(pattern,text)

In [91]:
all_matches

['phone', 'phone']

In [92]:
len(all_matches)

2

In [93]:
for match in re.finditer('phone',text):
    print(match.span())

(3, 8)
(16, 21)

In [4]:
text = 'The phone number of the agent is 408-555-1234. Call soon! 123-222-3212'

In [5]:
pattern = r'\d\d\d-\d\d\d-\d\d\d\d'

In [6]:
phone_num =re.search(pattern,text)

In [7]:
phone_num.group()

'408-555-1234'

In [8]:
for match in re.finditer(pattern,text):
    print(match.span())

(33, 45)
(58, 70)

In [9]:
ptrn = r'(\d{3})-(\d{3})-(\d{4})'

In [10]:
pn = re.search(ptrn,text)

In [11]:
pn.group()

'408-555-1234'

In [12]:
pn.group(1)

'408'

In [16]:
re.search(r'man|woman','This man was here')

In [19]:
re.findall(r'.at',"in the cat hat sat splat")

['cat', 'hat', 'sat', 'lat']

In [22]:
re.findall(r'\d$','This ends 4 with number 2')

['2']

In [23]:
pharse = 'there is 3 numbers in 34 inside 5 this sentence'

In [24]:
re.findall(r'[^\d]',pharse)

['t',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'i',
 's',
 ' ',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 's',
 ' ',
 'i',
 'n',
 ' ',
 ' ',
 'i',
 'n',
 's',
 'i',
 'd',
 'e',
 ' ',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e']

In [26]:
re.findall(r'[^\d]+',pharse)

['there is ', ' numbers in ', ' inside ', ' this sentence']

In [27]:
test_pharse = 'This is a string! but it has puntuations. How to remove it?'

In [30]:
lst = re.findall(r'[^?!.]+',test_pharse)

In [31]:
' '.join(lst)

'This is a string  but it has puntuations  How to remove it'

In [2]:
conda install -c conda-forge spacy

WARNING: The conda.compat module is deprecated and will be removed in a future release.
Collecting package metadata: done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.6.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /anaconda3

  added / updated specs:
    - spacy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.3.9           |           py37_0         149 KB  conda-forge
    conda-4.7.12               |           py37_0         3.0 MB  conda-forge
    conda-package-handling-1.6.0|   py37h0b31af3_1         1.5 MB  conda-forge
    cymem-2.0.2                |   py37h6de7cb9_0          31 KB  conda-forge
    cython-blis-0.2.4          |   py37h01d97ff_1         2.2 MB  conda-forge
    murmurhash-1.0.0           |   py37hfc679d8_0          16 KB  conda-forge
    openssl-1.1.1b             |       h1de35cc_1         3.5 MB  conda-forge
    plac-0.9.6                 |             py_1          18 KB  conda-forge
    preshed-2.0.1              |   py37h6de7cb9_0          64 KB  conda-forge
    spacy-2.1.8                |   py37h770b8ee_0        61.4 MB  conda-forge
    srsly-0.1.0                |   py37h6de7cb9_0         188 KB  conda-forge
    thinc-7.0.8                |   py37h770b8ee_0         1.4 MB  conda-forge
    wasabi-0.4.0               |             py_0          19 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        73.5 MB

The following NEW packages will be INSTALLED:

  conda-package-han~ conda-forge/osx-64::conda-package-handling-1.6.0-py37h0b31af3_1
  cymem              conda-forge/osx-64::cymem-2.0.2-py37h6de7cb9_0
  cython-blis        conda-forge/osx-64::cython-blis-0.2.4-py37h01d97ff_1
  murmurhash         conda-forge/osx-64::murmurhash-1.0.0-py37hfc679d8_0
  plac               conda-forge/noarch::plac-0.9.6-py_1
  preshed            conda-forge/osx-64::preshed-2.0.1-py37h6de7cb9_0
  spacy              conda-forge/osx-64::spacy-2.1.8-py37h770b8ee_0
  srsly              conda-forge/osx-64::srsly-0.1.0-py37h6de7cb9_0
  thinc              conda-forge/osx-64::thinc-7.0.8-py37h770b8ee_0
  wasabi             conda-forge/noarch::wasabi-0.4.0-py_0

The following packages will be UPDATED:

  conda                      pkgs/main::conda-4.6.11-py37_0 --> conda-forge::conda-4.7.12-py37_0

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                         pkgs/main --> conda-forge
  openssl                                         pkgs/main --> conda-forge



Downloading and Extracting Packages
cython-blis-0.2.4    | 2.2 MB    | ##################################### | 100%
cymem-2.0.2          | 31 KB     | ##################################### | 100%
plac-0.9.6           | 18 KB     | ##################################### | 100%
wasabi-0.4.0         | 19 KB     | ##################################### | 100%
spacy-2.1.8          | 61.4 MB   | ##################################### | 100%
preshed-2.0.1        | 64 KB     | ##################################### | 100%
thinc-7.0.8          | 1.4 MB    | ##################################### | 100%
openssl-1.1.1b       | 3.5 MB    | ##################################### | 100%
murmurhash-1.0.0     | 16 KB     | ##################################### | 100%
conda-package-handli | 1.5 MB    | ##################################### | 100%
srsly-0.1.0          | 188 KB    | ##################################### | 100%
conda-4.7.12         | 3.0 MB    | ##################################### | 100%
certifi-2019.3.9     | 149 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

## 3.  NATURAL LANGUAGE PROCESSING BASICS

### Spacy Basics

In [1]:
import spacy

In [2]:
nlp = spacy.load('en_core_web_sm')

In [3]:
doc = nlp(u'Tesla is looking at buying U.S startup for $6 million')

In [4]:
for token in doc:
    print(token.text)

Tesla
is
looking
at
buying
U.S
startup
for
$
6
million

In [5]:
for token in doc:
    print(token.text, token.pos)

Tesla 96
is 100
looking 100
at 85
buying 100
U.S 96
startup 92
for 85
$ 99
6 93
million 93

In [6]:
for token in doc:
    print(token.text, token.pos_)

Tesla PROPN
is VERB
looking VERB
at ADP
buying VERB
U.S PROPN
startup NOUN
for ADP
$ SYM
6 NUM
million NUM

### Tokenization part 1

In [8]:
mystrings = '"We\'re moving to L.A.!"'

In [9]:
print(mystrings)

"We're moving to L.A.!"

In [11]:
doc = nlp(mystrings)

In [12]:
for token in doc:
    print(token.text)

"
We
're
moving
to
L.A.
!
"

In [14]:
doc2 = nlp(u'We are here to help. Send snail-mail, email supoort@oursite.com or visit us at http://www.oursite.com!')

In [15]:
for token in doc2:
    print(token.text)

We
are
here
to
help
.
Send
snail
-
mail
,
email
supoort@oursite.com
or
visit
us
at
http://www.oursite.com
!

In [16]:
doc3 = nlp(u"5km NYC cab ride costs $10 and 30 cents ")

In [17]:
for t in doc3:
    print(t)

5
km
NYC
cab
ride
costs
$
10
and
30
cents

In [19]:
len(doc3) #count the number of tokens

11

In [20]:
doc4 = nlp(u'Apple to build a Hong Kong factory for $6 billion')

In [21]:
for t in doc4:
    print(t.text, end = '|')

Apple|to|build|a|Hong|Kong|factory|for|$|6|billion|

#### entity

In [29]:
for entity in doc4.ents:
    print(entity)
    print(entity.label_)
    print(str(spacy.explain(entity.label_)))
    print('\n')

Apple
ORG
Companies, agencies, institutions, etc.


Hong Kong
GPE
Countries, cities, states


$6 billion
MONEY
Monetary values, including unit

In [30]:
from spacy import displacy

In [31]:
doc = nlp(u'Apple is going to build U.K. factory for $6 billion')

In [34]:
displacy.render(doc,style = 'dep',jupyter = True, options = {'distance':100
                                                            })

In [35]:
displacy.render(doc,style = 'ent',jupyter = True)

### Stemming

In [36]:
from nltk.stem.porter import PorterStemmer

In [37]:
p_stemmer = PorterStemmer()

In [42]:
 words = ['run','runner','ran','runs','running','easily','fairly']

In [43]:
for word in words:
    print(word + '----->'+ p_stemmer.stem(word))

run----->run
runner----->runner
ran----->ran
runs----->run
running----->run
easily----->easili
fairly----->fairli

In [44]:
from nltk.stem.snowball import SnowballStemmer

In [46]:
s_stemmer = SnowballStemmer(language = 'english')

In [47]:
for word in words:
    print(word +'------>'+ s_stemmer.stem(word))

run------>run
runner------>runner
ran------>ran
runs------>run
running------>run
easily------>easili
fairly------>fair

In [48]:
w = ['generous','generation','generate','generously']

In [50]:
for word in w:
    print(word +'------>'+ s_stemmer.stem(word))

generous------>generous
generation------>generat
generate------>generat
generously------>generous

### Lemmetization

In [51]:
doc1 = nlp(u'I am a runner running in a race because I love to run since I ran today')

In [52]:
for token in doc1:
    print(token.text,'\t',token.pos_,'\t',token.lemma,'\t',token.lemma_)

I 	 PRON 	 561228191312463089 	 -PRON-
am 	 VERB 	 10382539506755952630 	 be
a 	 DET 	 11901859001352538922 	 a
runner 	 NOUN 	 12640964157389618806 	 runner
running 	 VERB 	 12767647472892411841 	 run
in 	 ADP 	 3002984154512732771 	 in
a 	 DET 	 11901859001352538922 	 a
race 	 NOUN 	 8048469955494714898 	 race
because 	 ADP 	 16950148841647037698 	 because
I 	 PRON 	 561228191312463089 	 -PRON-
love 	 VERB 	 3702023516439754181 	 love
to 	 PART 	 3791531372978436496 	 to
run 	 VERB 	 12767647472892411841 	 run
since 	 ADP 	 10066841407251338481 	 since
I 	 PRON 	 561228191312463089 	 -PRON-
ran 	 VERB 	 12767647472892411841 	 run
today 	 NOUN 	 11042482332948150395 	 today

In [54]:
print(nlp.Defaults.stop_words)

{'should', 'eleven', 'within', 'show', 'as', 'were', 'this', 'front', 'here', 'not', 'twelve', 'was', 'quite', 'towards', 'only', 'all', 'he', 'few', 'and', 'ca', 'six', 'why', 'becoming', 'yet', 'then', 'nor', 'is', 'off', 'nothing', 'll', 'for', 'there', 'most', 'everything', 'whereafter', 'if', 'yourself', 'eight', 'together', 'whenever', 'nt', 'any', 'seems', 'with', 'least', 'your', 'much', 'below', 'them', 'at', 'seemed', 'than', 'namely', 'several', 'what', 'onto', 'per', 'often', 'empty', 'whence', 'almost', 'one', 'hers', 'beforehand', 'each', 'say', 'you', 'we', 'becomes', 'never', 'down', 'mostly', 'wherever', 'mine', 'which', 'does', 'again', 'may', 'sometimes', 'against', 'go', 'hereby', 'nt', 'besides', 'every', 'myself', 'nine', 'would', 'used', 'the', 'moreover', 'none', "'s", 'toward', 'however', 'herein', 'whose', 'wherein', 'yours', 'more', 'up', 'along', 'using', 'after', 'whole', 'seeming', 'anywhere', 'behind', 'side', 'has', 'over', 'therein', 're', 'unless', 'get', 'around', 'a', 'ten', 'others', 'had', 'thru', 'me', 'keep', 'my', 'until', 'indeed', "'ve", 'whereupon', 'another', 'sometime', 'many', 've', 'other', 'being', 're', 'first', 'our', 'cannot', 'although', 'became', 'five', 'somewhere', 'seem', 'alone', 'something', 'her', 'can', 'who', 'forty', 'done', 'just', 'their', 'some', 'because', 'm', 'very', 'everyone', 'ours', 'everywhere', 'll', 'either', 'fifty', 'whoever', 'really', 'neither', 'though', 'last', 'must', 'whereby', 'been', 'will', 'twenty', 'might', 'now', 'thereafter', 'anyway', 'where', 'during', 'third', 'by', 'above', 'ourselves', 'us', 'i', 'are', 'across', 'serious', 'else', 'she', 'himself', 'beyond', 'did', 'itself', 'no', 'next', 'both', 'd', 'further', 'whereas', 'do', 'hereupon', 'whether', 'throughout', 'from', 'could', 'well', 'themselves', "'d", 'thereupon', 'anyhow', 'latter', 'before', 'latterly', 'someone', 'therefore', 'on', 'to', 'doing', 'sixty', 'somehow', 'see', 'd', 'hence', 'hereafter', 'anyone', 'through', 'various', 'put', 'am', 'anything', 'afterwards', 'three', 'while', 'herself', 'but', "'m", 'too', 'whatever', 're', 'have', 'part', 'same', 'him', 'without', 'also', 'of', 'm', 'in', 'give', 'made', 'take', 'formerly', 'make', 'when', 'that', 'regarding', 'thence', 'under', 'still', 'these', 'or', 'perhaps', 'among', 's', 'whither', 'those', 'less', 'hundred', 'it', 'become', 'top', 'rather', "n't", 'noone', 'via', 've', 'nevertheless', 'full', 'nowhere', 'thereby', 'back', 'nobody', 'between', 'otherwise', 'already', 's', 'thus', 'such', 'please', 'amount', 'whom', "'re", 'even', 'his', 'an', 'they', 'since', 'fifteen', 'bottom', 'about', 'so', 'into', 'how', 'elsewhere', 'once', 'former', 'due', 'ever', 'call', 'meanwhile', 'yourselves', 'beside', 'always', 'except', 'own', 'four', 'move', 'its', 'enough', "'ll", 'upon', 'out', 'be', 'name', 'amongst', 'two'}

## PART OF SPEECH TAGGING AND NAMED ENTITY RECOGNITION

In [1]:
import spacy
nlp = spacy.load('en_core_web_sm')

doc = nlp(u"The quick brown fox jumped over the lazy dog's back.")

In [2]:
print(doc.text)

The quick brown fox jumped over the lazy dog's back.

In [3]:
print(doc[4])

jumped

In [4]:
print(doc[4].pos_)

VERB

In [5]:
doc =nlp

### Named entity recognition

In [18]:
def show_ents(doc):
    if doc.ents:
        for ent in doc.ents:
            print(ent.text + '-'+ent.label_+'-'+str(spacy.explain(ent.label_)))
    else:
        print('No entity found')

In [19]:
doc = nlp(u'How are you')

In [20]:
show_ents(doc)

No entity found

In [25]:
doc = nlp(u"Tesla to build a U.K. Factory")

In [26]:
show_ents(doc)

U.K.-GPE-Countries, cities, states

In [27]:
#Adding an entity 
from spacy.tokens import Span

In [28]:
ORG = doc.vocab.strings[u"ORG"]

In [29]:
new_ent = Span(doc,0,1,label = ORG)

In [30]:
doc.ents = list(doc.ents)+[new_ent]

In [31]:
show_ents(doc)

Tesla-ORG-Companies, agencies, institutions, etc.
U.K.-GPE-Countries, cities, states

## Topic modeling

In [1]:
import pandas as pd

In [2]:
npr = pd.read_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/apr19_cleaned.xlsx')

In [3]:
npr.head()

,Headline,Date,Year,Month,Day
0,Sri Lanka can tackle terrorism on its own : MR,2019-04-29 00:00:00,2019,4,29
1,Police raids across Sri Lanka : Anti-aircraft ...,2019-04-29 00:00:00,2019,4,29
2,Sri Lanka suspends visa-on-arrival,2019-04-27 00:00:00,2019,4,27
3,No connection with suspected Easter bombings m...,2019-04-25 00:00:00,2019,4,25
4,Deadly blasts hurt Sri Lankas tourism industry,2019-04-24 00:00:00,2019,4,24

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
cv = CountVectorizer(max_df = 0.9, min_df = 2, stop_words = 'english' )

In [6]:
dtm = cv.fit_transform(npr['Headline'])

In [7]:
dtm

<1172x1169 sparse matrix of type '<class 'numpy.int64'>'
	with 5553 stored elements in Compressed Sparse Row format>

In [8]:
from sklearn.decomposition import LatentDirichletAllocation

In [31]:
LDA = LatentDirichletAllocation(n_components = 5, random_state = 42)

In [32]:
LDA.fit(dtm)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
                          evaluate_every=-1, learning_decay=0.7,
                          learning_method='batch', learning_offset=10.0,
                          max_doc_update_iter=100, max_iter=10,
                          mean_change_tol=0.001, n_components=5, n_jobs=None,
                          perp_tol=0.1, random_state=42, topic_word_prior=None,
                          total_samples=1000000.0, verbose=0)

In [33]:
#Grab the vocabulary of words

In [34]:
LDA.components_

array([[0.20002131, 0.20490775, 0.20000728, ..., 0.20001437, 2.19962787,
        2.19997454],
       [0.20001697, 2.19502953, 0.20000546, ..., 0.20107063, 1.85704642,
        0.2000051 ],
       [2.20241572, 0.20001598, 0.20000588, ..., 0.20183604, 0.20130343,
        0.20000528],
       [0.20002978, 0.20002451, 0.2089051 , ..., 2.19787105, 0.20001737,
        0.20000836],
       [1.19751621, 0.20002222, 3.19107627, ..., 3.19920791, 2.5420049 ,
        0.20000672]])

In [35]:
single_topic = LDA.components_[0]

In [36]:
for i,topic in enumerate(LDA.components_):
    print(f"THE TOP 15 WORDS FOR TOPIC #{i}")
    print([cv.get_feature_names()[index] for index in topic.argsort()[-15:]])
    print('\n')
    print('\n')

THE TOP 15 WORDS FOR TOPIC #0
['held', 'intelligence', 'global', 'day', 'national', 'terror', 'new', 'security', 'police', 'lankans', 'pm', 'blast', 'lankan', 'lanka', 'sri']




THE TOP 15 WORDS FOR TOPIC #1
['bombings', 'time', 'bank', 'pm', 'police', 'lankan', 'new', 'minister', 'attack', 'world', 'rupee', 'attacks', 'stocks', 'lanka', 'sri']




THE TOP 15 WORDS FOR TOPIC #2
['easter', 'defence', 'terror', 'president', 'world', 'says', 'condemns', 'killed', 'awards', 'security', 'lankan', 'blasts', 'attacks', 'sri', 'lanka']




THE TOP 15 WORDS FOR TOPIC #3
['business', 'local', 'service', 'gold', 'video', 'mn', 'state', 'finance', 'dialog', 'islamic', 'power', 'sl', 'colombo', 'sunday', 'easter']




THE TOP 15 WORDS FOR TOPIC #4
['bombings', 'says', 'win', 'special', 'indians', 'victims', 'easter', 'dead', 'year', 'arrested', 'season', 'new', 'blasts', 'sri', 'lanka']

In [37]:
topic_resluts = LDA.transform(dtm)

In [38]:
topic_resluts[0].round(2)

array([0.04, 0.84, 0.04, 0.04, 0.04])

In [39]:
npr['Topic'] = topic_resluts.argmax(axis = 1)

### Sentiment Analysis With NLTK

In [6]:
import nltk
import pandas as pd

In [3]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/Suwani/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

/anaconda3/lib/python3.7/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [5]:
sid = SentimentIntensityAnalyzer()

In [11]:
df = pd.read_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/nov19_cleaned.xlsx')

In [12]:
df.head()

,Headline,Date,Year,Month,Day
0,Canada announces $2 million support for landmi...,2019-11-30 00:00:00,2019,11,30
1,13 Sri Lankan fishermen arrested in Maldives,2019-11-30 00:00:00,2019,11,30
2,4 reforms to uplift Sri Lankan Rugby,2019-11-29 00:00:00,2019,11,29
3,More than 50% of all foreign military training...,2019-11-27 00:00:00,2019,11,27
4,Sri Lanka 4th best country to travel in 2019-C...,2019-11-27 00:00:00,2019,11,27

In [13]:
sid.polarity_scores(df.iloc[0]['Headline'])

{'neg': 0.0, 'neu': 0.803, 'pos': 0.197, 'compound': 0.4019}

In [14]:
df['score'] = df['Headline'].apply(lambda headline:sid.polarity_scores(headline))

In [15]:
df.head()

,Headline,Date,Year,Month,Day,score
0,Canada announces $2 million support for landmi...,2019-11-30 00:00:00,2019,11,30,"{'neg': 0.0, 'neu': 0.803, 'pos': 0.197, 'comp..."
1,13 Sri Lankan fishermen arrested in Maldives,2019-11-30 00:00:00,2019,11,30,"{'neg': 0.341, 'neu': 0.659, 'pos': 0.0, 'comp..."
2,4 reforms to uplift Sri Lankan Rugby,2019-11-29 00:00:00,2019,11,29,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,More than 50% of all foreign military training...,2019-11-27 00:00:00,2019,11,27,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,Sri Lanka 4th best country to travel in 2019-C...,2019-11-27 00:00:00,2019,11,27,"{'neg': 0.0, 'neu': 0.704, 'pos': 0.296, 'comp..."

In [17]:
df['compound'] = df['score'].apply(lambda d:d['compound'])

In [18]:
df.head()

,Headline,Date,Year,Month,Day,score,compound
0,Canada announces $2 million support for landmi...,2019-11-30 00:00:00,2019,11,30,"{'neg': 0.0, 'neu': 0.803, 'pos': 0.197, 'comp...",0.4019
1,13 Sri Lankan fishermen arrested in Maldives,2019-11-30 00:00:00,2019,11,30,"{'neg': 0.341, 'neu': 0.659, 'pos': 0.0, 'comp...",-0.4767
2,4 reforms to uplift Sri Lankan Rugby,2019-11-29 00:00:00,2019,11,29,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
3,More than 50% of all foreign military training...,2019-11-27 00:00:00,2019,11,27,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
4,Sri Lanka 4th best country to travel in 2019-C...,2019-11-27 00:00:00,2019,11,27,"{'neg': 0.0, 'neu': 0.704, 'pos': 0.296, 'comp...",0.6369

In [20]:
df['comp_score'] = df['compound'].apply(lambda score: 1 if score >= 0 else 0)

In [21]:
df.head()

,Headline,Date,Year,Month,Day,score,compound,comp_score
0,Canada announces $2 million support for landmi...,2019-11-30 00:00:00,2019,11,30,"{'neg': 0.0, 'neu': 0.803, 'pos': 0.197, 'comp...",0.4019,1
1,13 Sri Lankan fishermen arrested in Maldives,2019-11-30 00:00:00,2019,11,30,"{'neg': 0.341, 'neu': 0.659, 'pos': 0.0, 'comp...",-0.4767,0
2,4 reforms to uplift Sri Lankan Rugby,2019-11-29 00:00:00,2019,11,29,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,1
3,More than 50% of all foreign military training...,2019-11-27 00:00:00,2019,11,27,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,1
4,Sri Lanka 4th best country to travel in 2019-C...,2019-11-27 00:00:00,2019,11,27,"{'neg': 0.0, 'neu': 0.704, 'pos': 0.296, 'comp...",0.6369,1

In [23]:
df.to_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/nov19_sent_vader.xlsx')