In [4]:
import pandas as pd
import re

In [2]:
df = pd.read_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/sep19_cleaned.xlsx')

In [3]:
df.head()

,Headline,Date,Year,Month,Day
0,“Sri Lanka is running out of time to agree on ...,2019-09-29 00:00:00,2019,9,29
1,A 4th coal power plant for Sri Lanka?,2019-09-29 00:00:00,2019,9,29
2,Sri Lanka’s UN delegation meets with Under Sec...,2019-09-28 00:00:00,2019,9,28
3,Sri Lanka welcomes proposal for Maldives’ re-a...,2019-09-28 00:00:00,2019,9,28
4,Sri Lanka celebrates World Tourism Day 2019 wi...,2019-09-27 00:00:00,2019,9,27

In [30]:
df['a'] = df['Headline'].str.contains('conference')

In [31]:
k = df[df['a']== True]

In [32]:
k

,Headline,Date,Year,Month,Day,a
366,Major global transport conference in Colombo n...,09/05/2019,2019,9,5,True
793,Prof. Rela chairs conference on hepatology,09/30/2019,2019,9,30,True
974,"‘Bohra conference promotes SL as safe, earns f...",09/04/2019,2019,9,20,True

In [35]:
df['Headline'][974]

'‘Bohra conference promotes SL as safe, earns forex of US 51 mn’'