In [2]:
import nltk
import pandas as pd

In [3]:
df = pd.read_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/Labelled data .xlsx')

In [4]:
df.head()

                                            Headline  my_label
0  Thai Lion Air makes it’s maiden voyage to Sri ...         0
1  Report on Sri Lankan reforms submitted to Pres...         0
2  Allowing Youth to Tuk-Tuk or not Tuk-Tuk: Shou...         0
3                   The Spicy Goodness of Sri Lanka!         0
4  Sri lanka halfway between a flawed democracy a...        -1

### For a df

In [5]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

/anaconda3/lib/python3.7/site-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [6]:
sia = SIA()
results = []

In [7]:
h = set(df['Headline'])

In [8]:
for line in h:
    pol_score = sia.polarity_scores(line)
    pol_score['Headline'] = line
    results.append(pol_score)

In [9]:
pprint(results[:3], width=100)

Pretty printing has been turned OFF

In [10]:
df = pd.DataFrame.from_records(results)
df.head()

,Headline,compound,neg,neu,pos
0,"IMF ready to restart program, team of represen...",0.3612,0.000,0.828,0.172
1,Edex Expo second phase opens at Kandy City Centre,0.0000,0.000,1.000,0.000
2,Farsighted policies - need of the hour,0.0000,0.000,1.000,0.000
3,Thisara Perera’s coming of age,0.0000,0.000,1.000,0.000
4,Thailand's rebel female Buddhist monks defy tr...,-0.1531,0.211,0.789,0.000

In [11]:
df['label'] = 0
df.loc[df['compound'] > 0.2, 'label'] = 1
df.loc[df['compound'] < -0.2, 'label'] = -1
df.head()

,Headline,compound,neg,neu,pos,label
0,"IMF ready to restart program, team of represen...",0.3612,0.000,0.828,0.172,1
1,Edex Expo second phase opens at Kandy City Centre,0.0000,0.000,1.000,0.000,0
2,Farsighted policies - need of the hour,0.0000,0.000,1.000,0.000,0
3,Thisara Perera’s coming of age,0.0000,0.000,1.000,0.000,0
4,Thailand's rebel female Buddhist monks defy tr...,-0.1531,0.211,0.789,0.000,0

In [12]:
df.to_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/2019/Vader_final.xlsx')

### importing 2 data sets to merge

In [13]:
my_label = pd.read_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/Labelled data .xlsx')

In [14]:
vader_label = pd.read_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/2019/Vader_final.xlsx')

In [15]:
vader_label.head()

,Unnamed: 0,Headline,compound,neg,neu,pos,label
0,0,"IMF ready to restart program, team of represen...",0.3612,0.000,0.828,0.172,1
1,1,Edex Expo second phase opens at Kandy City Centre,0.0000,0.000,1.000,0.000,0
2,2,Farsighted policies - need of the hour,0.0000,0.000,1.000,0.000,0
3,3,Thisara Perera’s coming of age,0.0000,0.000,1.000,0.000,0
4,4,Thailand's rebel female Buddhist monks defy tr...,-0.1531,0.211,0.789,0.000,0

In [16]:
result = pd.merge(my_label,vader_label[['Headline','label']], on = 'Headline')

In [17]:
result.head()

                                            Headline  my_label  label
0  Thai Lion Air makes it’s maiden voyage to Sri ...         0      0
1  Report on Sri Lankan reforms submitted to Pres...         0      0
2  Allowing Youth to Tuk-Tuk or not Tuk-Tuk: Shou...         0      0
3                   The Spicy Goodness of Sri Lanka!         0      1
4  Sri lanka halfway between a flawed democracy a...        -1      0

In [18]:
result.to_excel('/Users/Suwani/Desktop/Moodys Project/Cleaned data/2019/Final_Vader_merged.xlsx')